:root {
    --bg: #0a0a0a;
    --white: white;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    min-height: 100%;
}

/*
-------------------------------
        Halaman Pertama 
-------------------------------
*/
.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg-dasar.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.hero {
    position: relative;
    min-height: 98vh;
}

.hero h1, .hero h4, .hero p {
    text-shadow: var(--shadow);
}

.hero h1 {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    color: #546b57;
}

.hero h4 {
    font-size: 1.6rem;
    color: #546b57;
}

.hero p {
    font-size: 1.4rem;
    color: #546b57;
}

.hero a {
    color: var(--white);
    background-color: #546b57;;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: #546b57;
    color: var(--white);
}

/* laptop */
@media (max-width: 992px){
    html {
        font-size: 75%;
    }

    .simply-countdown>.simply-section {
        padding: 80px;
    }
}

/* Tablet */
@media (max-width: 768px){
    html {
        font-size: 65%;
    }

    .simply-countdown>.simply-section {
        padding: 60px;
        margin: 7px;
    }
}

/* Handphone */
@media (max-width: 576px){
    html {
        font-size: 60%;
    }

    .simply-countdown>.simply-section {
        padding: 35px;
        margin: 5px;
    }
}

@keyframes fadeInFromShadow {
    0% {
        opacity: 0;
        transform: translateY(50px);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }
}

.hero main {
    animation: fadeInFromShadow 2.5s ease-in-out forwards; /* Durasi animasi ditingkatkan menjadi 2.5 detik */
}

.hero h1, 
.hero h4, 
.hero p,
.hero img,
.hero a {
    opacity: 0; /* Inisialisasi elemen dengan opacity 0 */
    animation: fadeIn 2s ease-in-out forwards; /* Animasi fade-in */
    animation-delay: 1s; /* Penundaan animasi 1 detik untuk kesan muncul perlahan */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}